/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: rgb(15, 27, 46); color: white; font-size: 26px;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
